@import 'settings';
@import 'foundation-emails';

@import 'template/template';
p {
  hyphens: none;
}
.link{
  color: #fff;
  
}
@media all {

  .link:hover{
    color:  #0099ff;
    
  }
  .link:active{
    color: #0066cc;
  }
  .link:visited{
    color: #0066cc;
  }
}
.dark-blue-background{
  background-color: #000033;
}
.blue-background{
  background-color: #0066cb;
}
.grey-blue-background{
  background-color: #003466;
}
.other-blue-background{
  background-color: #336699;
}
.white-background{
  background-color: #fff;
}
.white-font{
  color: white
}
.blue-font{
  color: $secondary-color;
}
.blue-light-font{
  color: #66ccff;
}
.yellow-font{
  color: #ffcc33;
}
.header-bar-font{
  font-size: 10px;
}
.saludo{
  font-weight: bold;
  color: $secondary-color;
  font-size: 24px
}
.nota{
  font-size: 12px;

}
.nombre{
  color: $primary-color;
  font-size: 20px
}
.float-right{
  float: right;
}
.centro {
  margin: auto !important;
  text-align: center !important;
}

.t1{
  font-size: 34px;
  font-weight: bold;
}
.t2{
  font-size: 140%;
  font-weight: bold;
}
.tt2{
  font-size: 140%;
}
.t3{
  font-size: 11pt;
}
.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #fff;
}
.no-padding{
  padding: 0!important;
}
.no-margin{
  margin: 0!important;
}
.width-100{
  width: 100%;
}
.noBrinco{
  hyphens: none !important;
}
.ev1{
  font-weight: bold;
  font-size: 30px;
  width: 78%;
  margin: auto !important;
}
.ev2{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  width: 78%;
  padding-bottom: 10px;
  margin: auto !important;
}
.ev3{
  font-size: 13px;
  width: 78%;
  margin: auto !important;
}
.ev4{
  font-size: 12px;
  border-left-style:solid;
  border-left-width: 5px;
  border-left-color: #66ccff; 
  padding-left: 20px ;
  margin-left: 30px;
  width: 60%;
  margin: auto !important;
  hyphens: none;
}

.evv1{
  font-weight: bold;
  font-size: 20px;
  width: 78%;
  margin: auto !important;
  hyphens: none;
}
.evv2{
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  width: 78%;
  padding-bottom: 10px;
  margin: auto !important;
  hyphens: none;
}
.evv3{
  font-size: 13px;
  width: 78%;
  margin: auto !important;
  hyphens: none;
}
.evv4{
  font-size: 12px;
  border-left-style:solid;
  border-left-width: 5px;
  border-left-color: #66ccff; 
  padding-left: 20px ;
  width: 70%;
  hyphens: none;
}
.evv5{
  font-size: 12px;
  border-right-style:solid;
  border-right-width: 5px;
  border-right-color: #66ccff; 
  padding-right: 20px ;
  width: 70%;
  hyphens: none;
}
.btnright {
  padding-right: 30px;

}
.btnleft {
  padding-left: 30px;

}
.legales{
  font-weight: bold;
  font-size: 12px;
}
.padding{
  margin:   0 16px;
}
.underlined{
  text-decoration: underline;
}
.font13{
  font-size: 13px;
}
